<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form Submissions</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/form" method="POST">
        <p>Name: <input type="text" name="name" id="name" /></p>
        <p>Organization: <input type="text" name="org" id="org" /></p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>