<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask project</title>
</head>
<body>
    <h1>Flask App</h1>
    Hello there, 
    {% if name %}
        {{ name }}
    {% else %}
        Visitor
    {% endif %}

    {% for nft in nfts %}
        <div style="margin:10px">
            <img src="{{nft.image}}" width="40" height="40" />
            <h2>{{ nft.title }}</h1>
            <p>{{ nft.cost }}</p>
        </div>
    {% endfor %}

    <p> Today is {{ date }} </p>
</body>
</html>